[project]
	description = VDR plugin to handle XBMC clients.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stevie1512
[access "refs/for/refs/*"]
	read = group user/stevie1512
	push = group user/stevie1512
	label-Code-Review = -2..+2 group user/stevie1512
	label-Verified = -1..+1 group user/stevie1512
	rebase = group user/stevie1512
	removeReviewer = group user/stevie1512
	submit = group user/stevie1512
[access "refs/heads/*"]
	read = group user/stevie1512
	create = group user/stevie1512
	push = +force group user/stevie1512
	pushMerge = group user/stevie1512
[access "refs/tags/*"]
	push = +force group user/stevie1512
	pushTag = group user/stevie1512
	pushSignedTag = group user/stevie1512
